<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="shortcut icon" href="/images/favicon.ico">
        <title>Hacker News History</title>
    </head>
    <body>

        <%
        var date  = new Date();
        var hour  = date.getHours();
        var month = +(date.getMonth() + 1);
        var day   = date.getDate() < 10 ? ("0"+date.getDate()) : date.getDate();
        var date  = date.getFullYear() + "-" + (month < 10 ? ("0" + month) : month) +"-"+ day;
        %>
        <form method="GET" action="/">
            <div style="padding-top: 10px">
                <center>
                    <span>
                        Date: <input type="date" name="date" value="<%= date %>">
                    </span>
                    Time: 
                    <select name="hour">
                        <% for(var i = 0; i < 24; i++) { %>
                            <option value="<%= i %>" <%= (i == hour ? "selected" : "") %>><%= i %></option>
                        <% } %>
                    </select>
                    <input type="submit" value="View"/>
                </center>
            </div>
        </form>
        <br>
        <center>
            <table border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
                <tr>
                    <td bgcolor="#ff6600">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                            <tr>
                                <td style="width:18px;padding-right:4px">
                                    <a href="/">
                                        <img src="/images/inf.gif" width="18" height="18" style="border:1px #ffffff solid;"/>
                                    </a>
                                </td>
                                <td style="line-height:12pt; height:10px;">
                                    <span class="pagetop">
                                        <b>
                                            <a href="/">Hacker News History</a>
                                        </b>
                                        <span style="margin-left:5px;">
                                            <a href="/about">about</a> |
                                            <a href="/list">last 50 hours</a>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr style="height:10px"></tr>

                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <% posts.forEach(function(post, i) { console.log(post.date); console.log(post.date.toUTCString());  %>
                            <tr>
                                <td align=right valign=top class="title"><%= i+1 %>.</td>
                                <td class="title">
                                    <a href="/?date=<%= post.date.getUTCFullYear() %>-<%= (post.date.getUTCMonth() + 1) %>-<%= post.date.getUTCDate() %>&hour=<%= post.date.getHours() %>"><%= post.date %></a>
                                    <span class="comhead"></span>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td colspan="1"></td>
                                <td class="subtext">
                                    <span>194 points</span> by <a href="https://news.ycombinator.com/user?id=peterbotond">peterbotond</a> 2 hours ago  | <a href="https://news.ycombinator.com/item?id=7577872">86 comments</a>
                                </td>
                            </tr> -->
                            <tr style="height:15px"></tr>
                            <% }); %>
        
                            <tr style="height:5px"></tr>
                        
                        </table>
                        <tr>
                            <td>
                                <img src="/images/inf.gif" height="10" width="0">
                                <table width="100%" cellspacing="0" cellpadding="1">
                                    <tr>
                                        <td bgcolor="#ff6600"></td>
                                    </tr>
                                </table>
                                <br>
                                <center>
                                    <span class="links">
                                        <a href="/about">about</a> |
                                        <a href="/list">last 50 hours</a>
                                    </span>
                                </center>
                                <br><br><br>
                            </td>
                        </tr>
                    </td>
            </table>
        </center>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-50135174-1', 'hnhistory.net');
          ga('send', 'pageview');

        </script>
    </body>
</html>